{
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "./lib/async-component/babel"
  ],
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
